.env

__pycache__
__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/
.venv/

build/
dist/
*.egg-info/
pip-wheel-metadata/


*.gguf
*.bin
*.pt
*.pth
*.onnx


.pytest_cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml


.vscode/
.idea/
*.sublime-project
*.sublime-workspace


docker-compose.override.yml


.DS_Store
Thumbs.db
._*

validator.md

.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
nosetests.xml
promt.txt

collector.py
all_code.txt